<div  class="online-area">
   <div class="container-fluid">
      <div class="row">
         <div class="col-sm-8 col-md-9">
            <div class="pizza-bg"></div>
            <nav id="nav" class="navbar navbar-default" data-spy="affix" data-offset-top="197">
               <div class="container-fluid">
                  <div class="navbar-header">
                     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>                        
                     </button>
                  </div>
                  <div>
                     <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav">
                          <% @menugroups.each do |menu_group| %>
                            <li><a href="#<%= menu_group.name %>"><%= menu_group.name %></a></li>
                          <% end %>
                        </ul>
                     </div>
                  </div>
               </div>
            </nav>
            <br />
            <% @menugroups.each do |menu_group| %>
              <div id="<%= menu_group.name %>" class="section-box container-fluid">
                <h4 class="text-center"><%= menu_group.name %></h4>
                <% menu_group.menu_items.each do |menu_item| %>
                  <div class="media-box">
                    <div class="row">
                       <div class="col-sm-8">
                          <h4 class="mb0"><%= menu_item.name %></h4>
                          <% if menu_item.description.present? %>
                            <p class="mt0"><%= menu_item.description %></p>
                          <% end %>
                       </div>
                       <div class="col-sm-4 text-center">
                          <p class="mt15">
                            <% if menu_item.price.present? %> 
                              <span><%= "$ " + menu_item.price.to_s %></span>
                            <% end %> 
                            <a href="#myModal<%= menu_item.id%>" data-toggle="modal" class="btn btn-sm btn-danger">+</a>
                          </p>
                       </div>
                    </div>
                  </div>

                  <!-- Modal -->
                  <div class="modal fade" id="myModal<%= menu_item.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                     <div class="modal-dialog" role="document">
                        <div class="modal-content" id="modal_<%= menu_item.id%>">
                           <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <h4 class="modal-title" id="myModalLabel"><small><%= menu_group.name %></small><br /><span id="menu_item_name_<%= menu_item.id%>"><%= menu_item.name %></span><span class="menu_item_price_<%= menu_item.id %>" style="display: none;"><%= menu_item.price %></span><br /></h4>
                           </div>
                           <div class="modal-body">
                              <% menu_item.sides_group.where('group_side IS ? OR group_side =?',nil,false).each do |sides_group| %>
                                <h4><%= sides_group.name %></h4>
                                <% sides_group.sides_items.each do |side_item| %>
                                  <span class="side_item_name_<%= side_item.id %>" style="display: none;"><%= side_item.name %></span>
                                  <span class="side_item_price_<%= side_item.id %>" style="display: none;"><%= side_item.price %></span>
                                  <span class="side_item_type_<%= side_item.id %>" style="display: none;"><%= side_item.sides_group.side_type %></span>
                                  <div class="radio">
                                    <label><%= side_item.name %>
                                      <% if side_item.price.present? %> 
                                        <span> - <%= "$ " + side_item.price.to_s %></span>
                                      <% end %> 
                                    </label>
                                    <input type="radio" name="<%= sides_group.name %>" value="<%= side_item.id %>">
                                  </div>
                                  <div class="clearfix"></div>
                                <% end %>
                              <% end %>
                              <% group_menu_items = SidesGroup.where(:menu_group_id => menu_item.menu_group_id,:group_side => true) %>
                              <% group_menu_items.each do |sides_group| %>
                                <h4><%= sides_group.name %></h4>
                                <% sides_group.sides_items.each do |side_item| %>
                                  <span class="side_item_name_<%= side_item.id %>" style="display: none;"><%= side_item.name %></span>
                                  <span class="side_item_price_<%= side_item.id %>" style="display: none;"><%= side_item.price %></span>
                                  <div class="radio">
                                    <label><%= side_item.name %>
                                      <% if side_item.price.present? %> 
                                        <span> - <%= "$ " + side_item.price.to_s %></span>
                                      <% end %> 
                                    </label>
                                    <input type="radio" name="<%= sides_group.name %>" value="<%= side_item.id %>">
                                  </div>
                                  <div class="clearfix"></div>
                                <% end %>
                              <% end %>
                             
                              <div class="form-group" style="margin-top: 15px;">
                                <textarea class="form-control comment<%= menu_item.id %>" rows="3" placeholder="Special Instructions"></textarea>
                              </div>


                              <div class="pull-left">
                                 <div class="count-input space-bottom">
                                    <a class="incr-btn" data-action="decrease" href="#">–</a>
                                    <input class="count quantity<%= menu_item.id %>" type="text" name="quantity" value="1" id="quantity" />
                                    <a class="incr-btn" data-action="increase" href="#">&plus;</a>
                                 </div>
                              </div>
                              <div class="pull-right">
                                <p class="mt15"><button class="btn btn-success" id="<%= menu_item.id%>" onclick="myFunction(<%= menu_item.id %>)">ADD TO CART</button></p>
                              </div>


                              
                              <div class="clearfix"></div>



                           </div>
                        </div>
                     </div>
                  </div>
                <% end %>
        
              </div>
            <% end %>

         </div>
         <!-- col-7 -->
         <div class="col-sm-4 col-md-3">
            <div class="shopping-cart">
            
              <div class="row">
                <div class="col-md-7 logo">
                  <%= image_tag "logo.JPEG",:alt=>"logo" %>
                </div>
                <div class="col-md-5 address">
                  Address : 2804 grand Avenue Everett WA
                </div>
              </div>

              <h4>DEFAULT TIME TAKEN IS 30 MINUTES</h4>
               
               <div class="form-group">
                  <select class="form-control" id="sel1">
                     <option>Pickup Time</option>
                     <option>45 minutes</option>
                     <option>1 hour</option>
                     <option>1.30 hour</option>
                     <option>2 hours</option>
                  </select>
               </div>
               <h4><b>The AmberDining Restaurant</b></h4>
               <p>YOUR ORDER CAN BE PLACED BETWEEN THE TIMES 11AM - 2 30PM</p>
               <table class="table f13 table_order">
                  
                </table>
               <hr />
               <table class="table">
                  <tr>
                     <td><strong>Total</strong></td>
                     <td align="right"><strong>$ <span id="total">0.00</span></strong></td>
                  </tr>
               </table>
               <p><a href="" class="btn btn-checkout">CHECKOUT</a></p>
            </div>
            <!-- shoping-cart -->
         </div>
      </div>
   </div>
</div>

<script type="text/javascript">
   $(document).ready(function(){ 
   
   $("#nav ul li a[href^='#']").on('click', function(e) {
   
      // prevent default anchor click behavior
      e.preventDefault();
   
      // store hash
      var hash = this.hash;
   
      // animate
      $('html, body').animate({
          scrollTop: $(hash).offset().top
        }, 1000, function(){
   
          // when done, add hash to url
          // (default click behaviour)
          window.location.hash = hash;
        });
   
   });

   $(".incr-btn").on("click", function (e) {
                var $button = $(this);
                var oldValue = $button.parent().find('.count').val();
                $button.parent().find('.incr-btn[data-action="decrease"]').removeClass('inactive');
                if ($button.data('action') == "increase") {
                    var newVal = parseFloat(oldValue) + 1;
                } else {
                    // Don't allow decrementing below 1
                    if (oldValue > 1) {
                        var newVal = parseFloat(oldValue) - 1;
                    } else {
                        newVal = 1;
                        $button.addClass('inactive');
                    }
                }
                $button.parent().find('.count').val(newVal);
                e.preventDefault();
            });
   
   
   });
</script>


